In [1]:
import numpy as np
import pandas as pd

In [2]:
df_true=pd.read_csv('True.csv')

In [3]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
df_fake=pd.read_csv('Fake.csv')
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
df_fake["class"] = 0
df_true["class"] = 1

In [6]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
df_fake

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [8]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [9]:
# Removing last 10 rows for manual testing
df_fake_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
    
    
df_true_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [10]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [11]:
df_fake_testing["class"] = 0
df_true_testing["class"] = 1

C:\Users\HP\AppData\Local\Temp\ipykernel_111984\706177454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_testing["class"] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_111984\706177454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_testing["class"] = 1

In [12]:
df_testing = pd.concat([df_fake_testing,df_true_testing], axis = 0)

In [13]:
df_testing = df_testing.sample(frac = 1)

In [14]:
df_testing.head()

,title,text,subject,date,class
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1

In [15]:
df_testing.to_csv("testing.csv")

In [16]:
df = pd.concat([df_fake, df_true], axis=0)

In [17]:
df.shape

(44878, 5)

In [18]:
df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [19]:
df = df.drop(["title", "subject","date"], axis = 1)

In [20]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [21]:
df.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [22]:
df = df.sample(frac = 1)

In [23]:
df.head()

                                                    text  class
19367  WASHINGTON (Reuters) - Expanded negotiations a...      1
16565  KIGALI (Reuters) - A plague epidemic in Madaga...      1
13809  YANGON (Reuters) - Myanmar s civilian leader, ...      1
16535  KIEV (Reuters) - Ukraine plans a 12 percent in...      1
7695   Republicans this election cycle have the diffi...      0

In [24]:
df.reset_index(inplace = True)

In [25]:
df.head()

   index                                               text  class
0  19367  WASHINGTON (Reuters) - Expanded negotiations a...      1
1  16565  KIGALI (Reuters) - A plague epidemic in Madaga...      1
2  13809  YANGON (Reuters) - Myanmar s civilian leader, ...      1
3  16535  KIEV (Reuters) - Ukraine plans a 12 percent in...      1
4   7695  Republicans this election cycle have the diffi...      0

In [26]:
df.drop(["index"], axis = 1, inplace = True)

In [27]:
df.head()

                                                text  class
0  WASHINGTON (Reuters) - Expanded negotiations a...      1
1  KIGALI (Reuters) - A plague epidemic in Madaga...      1
2  YANGON (Reuters) - Myanmar s civilian leader, ...      1
3  KIEV (Reuters) - Ukraine plans a 12 percent in...      1
4  Republicans this election cycle have the diffi...      0

In [28]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import pandas as pd
from tqdm import tqdm
tqdm.pandas(desc="Preprocessing text")  # Initialize progress bar

ps = PorterStemmer()
stop_words = set(stopwords.words('english'))
# Preprocessing function
def preprocess(text):
    # Keep only letters and lowercase
    text = re.sub('[^a-zA-Z]', ' ', text).lower().split()
    # Remove stopwords and stem
    words = [ps.stem(word) for word in text if word not in stop_words]
    return ' '.join(words)

# Apply to entire column with progress bar
df['text'] = df['text'].progress_apply(preprocess)

Preprocessing text: 100%|██████████| 44878/44878 [03:40<00:00, 203.78it/s]

In [29]:
x = df["text"]
y = df["class"]

In [30]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier

In [33]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [34]:
# Choose a model
models = {
  
    "Logistic": LogisticRegression(max_iter=200),
    "DecisionTree": DecisionTreeClassifier(),
    "RandomForest": RandomForestClassifier(n_estimators=100),
    "GradientBoosting": GradientBoostingClassifier(n_estimators=100)
}

In [35]:
for name, model in models.items():
    model.fit(xv_train, y_train)
    y_pred = model.predict(xv_test)
    print("=== Model:", name, "===")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print(classification_report(y_test, y_pred, digits=4))

=== Model: Logistic ===
Accuracy: 0.9846256684491979
              precision    recall  f1-score   support

           0     0.9868    0.9838    0.9853      4704
           1     0.9823    0.9855    0.9839      4272

    accuracy                         0.9846      8976
   macro avg     0.9845    0.9847    0.9846      8976
weighted avg     0.9846    0.9846    0.9846      8976

=== Model: DecisionTree ===
Accuracy: 0.9955436720142602
              precision    recall  f1-score   support

           0     0.9951    0.9964    0.9958      4704
           1     0.9960    0.9946    0.9953      4272

    accuracy                         0.9955      8976
   macro avg     0.9956    0.9955    0.9955      8976
weighted avg     0.9955    0.9955    0.9955      8976

=== Model: RandomForest ===
Accuracy: 0.9913101604278075
              precision    recall  f1-score   support

           0     0.9911    0.9923    0.9917      4704
           1     0.9916    0.9902    0.9909      4272

    accuracy                         0.9913      8976
   macro avg     0.9913    0.9913    0.9913      8976
weighted avg     0.9913    0.9913    0.9913      8976

=== Model: GradientBoosting ===
Accuracy: 0.9953208556149733
              precision    recall  f1-score   support

           0     0.9977    0.9934    0.9955      4704
           1     0.9928    0.9974    0.9951      4272

    accuracy                         0.9953      8976
   macro avg     0.9952    0.9954    0.9953      8976
weighted avg     0.9953    0.9953    0.9953      8976

In [47]:
# Save the trained RandomForest model and vectorizer
import joblib

# Save RandomForest model
joblib.dump(models["RandomForest"], "random_forest_model.pkl")
joblib.dump(models["Logistic"], "logistic_model.pkl")
joblib.dump(models["DecisionTree"], "DecisionTree_model.pkl")
joblib.dump(models["GradientBoosting"], "GradientBoosting_model.pkl")

# Save TfidfVectorizer
joblib.dump(vectorization, "tfidf_vectorizer.pkl")

print("ALL Model and vectorizer saved")

ALL Model and vectorizer saved

In [ ]:

# Load saved models and vectorizer
rf_model = joblib.load("random_forest_model.pkl")
vectorizer = joblib.load("tfidf_vectorizer.pkl")

# Example: Predict on new news text
def predict_news(news_text):
    processed = preprocess(news_text)
    vect = vectorizer.transform([processed])
    pred = rf_model.predict(vect)
    return "Fake News" if pred[0] == 0 else "Not A Fake News"

# Test with a sample news
sample_news = "Your news article text here"
print(predict_news(sample_news))

Fake News

In [49]:
# Batch prediction on testing.csv
import pandas as pd

test_df = pd.read_csv("testing.csv")
# If needed, drop columns to keep only 'text' column
if 'title' in test_df.columns:
    test_df = test_df.drop(['title', 'subject', 'date'], axis=1, errors='ignore')

# Preprocess and predict
preds = []
for text in test_df['text']:
    processed = preprocess(str(text))
    vect = vectorizer.transform([processed])
    pred = rf_model.predict(vect)
    preds.append(pred[0])

test_df['predicted_class'] = preds
test_df['predicted_label'] = test_df['predicted_class'].apply(lambda x: 'Fake News' if x == 0 else 'Not A Fake News')

test_df.to_csv("testing_with_predictions.csv", index=False)
print("Batch predictions saved to testing_with_predictions.csv")

Batch predictions saved to testing_with_predictions.csv

In [50]:
df1=pd.read_csv("testing_with_predictions.csv")
df1.head(20)

,Unnamed: 0,text,class,predicted_class,predicted_label
0,21408,GENEVA (Reuters) - North Korea and the United ...,1,1,Not A Fake News
1,23472,By Dady Chery and Gilbert MercierAll writers ...,0,0,Fake News
2,21416,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,1,1,Not A Fake News
3,21409,GENEVA (Reuters) - North Korea and the United ...,1,1,Not A Fake News
4,21410,COPENHAGEN (Reuters) - Danish police said on T...,1,1,Not A Fake News
5,23476,21st Century Wire says As 21WIRE reported earl...,0,0,Fake News
6,23480,21st Century Wire says As 21WIRE predicted in ...,0,0,Fake News
7,21415,MOSCOW (Reuters) - Vatican Secretary of State ...,1,1,Not A Fake News
8,23473,Vic Bishop Waking TimesOur reality is carefull...,0,0,Fake News
9,21413,"LONDON (Reuters) - LexisNexis, a provider of l...",1,1,Not A Fake News
10,21412,BRUSSELS (Reuters) - NATO allies on Tuesday we...,1,1,Not A Fake News
11,23479,21st Century Wire says Al Jazeera America will...,0,0,Fake News
12,23477,21st Century Wire says It s a familiar theme. ...,0,0,Fake News
13,23475,Robert Fantina CounterpunchAlthough the United...,0,0,Fake News
14,21411,UNITED NATIONS (Reuters) - Two North Korean sh...,1,1,Not A Fake News
15,23471,"21st Century Wire says This week, the historic...",0,0,Fake News
16,21407,"SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",1,1,Not A Fake News
17,23478,Patrick Henningsen 21st Century WireRemember ...,0,0,Fake News
18,21414,MINSK (Reuters) - In the shadow of disused Sov...,1,1,Not A Fake News
19,23474,Paul Craig RobertsIn the last years of the 20t...,0,0,Fake News